<nav class="navbar navbar-expand-xl navbar-dark bgc navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="brand-logo rounded-circle ml-2" src="../../assets/images/logo2.jpeg" height="60px" width="100px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end mr-5" id="navbarSupportedContent">
            <ul class="navbar-nav ml-2">
                <li class="nav-item mr-3 active">
                    <a class="nav-link" href="#">HOME<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-3 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        SERVICES
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="#">BRIDAL</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="#">HAIR SYSTEM</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="#">GALLERY</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="#">BOOK APPOINTMENT</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="#">OFFERS</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="#">BRANCHES</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="#">CAREER</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="#">CONTACT US</a>
                </li>

            </ul>
        </div>
    </div>
</nav>






<!-- 

<nav class="navbar navbar-expand-sm navbar-custom bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="navbar-brand">Custom</a>
    <div class="navbar-collapse collapse" id="navbarCustom">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Dropdown </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <span class="ml-auto navbar-text">Teffffddxt</span>
    </div>
</nav> -->