<div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 salon-header-color">My salon</h5>
            <p class="salon-text-color">This is the best Salon of India.Please visit us to avail world class services</p>

        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 salon-header-color">Products</h5>
            <p>
                <a href="https://www.google.com" class="salon-text-color" style="text-decoration: none">Service 1</a>
            </p>
            <p>
                <a href="https://www.google.com" class="salon-text-color" style="text-decoration: none">Service 2</a>
            </p>
            <p>
                <a href="https://www.google.com" class="salon-text-color" style="text-decoration: none">Service 3</a>
            </p>
            <p>
                <a href="https://www.google.com" class="salon-text-color" style="text-decoration: none">Service 4</a>
            </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2  mx-auto mt-3">
            <h5 class="text-uppercase mb-4 salon-header-color font-weight-bold">My salon</h5>
            <p>
                <a href="https://www.google.com" class="salon-text-color" style="text-decoration: none">FAQs</a>
            </p>
            <p>
                <a href="https://www.google.com" class="salon-text-color" style="text-decoration: none">Terms and
                    Conditions</a>
            </p>
            <p>
                <a href="https://www.google.com" class="salon-text-color" style="text-decoration: none">Privacy Notice</a>
            </p>
            <p>
                <a href="https://www.google.com" class="salon-text-color" style="text-decoration: none">Help</a>
            </p>

        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 salon-header-color font-weight-bold">Contact</h5>
            <p  class="salon-text-color">
                Email Us
            </p>
            <p  class="salon-text-color">
                <i class="fas fa-search">abc@gmail.com</i>
            </p>
            <p  class="salon-text-color">
                Call Us
            </p>
            <p  class="salon-text-color">
                <i>1800-xxxx-xxxx</i>
            </p>
        </div>

    </div>
    <hr class="mb-4">
    <div class="row align-items-center">
        <div class="col-md-4 col-lg-5">
            <p  class="salon-text-color"> Copyright @2021 All Rights Reserved by:
                <a href="https://www.google.com" style="text-decoration: none;">
                    <strong class="text-warning">My Salon</strong>
                </a>
            </p>
        </div>
        <div class="col-md-8 col-lg-7">
            <div class="text-center text-md-right">

                <ul class="list-unstyled list-inline">
                    <li>
                        <i class="fas fa-search"></i>
                    </li>

                </ul>

            </div>

        </div>
    </div>


</div>