<div class="container-fluid">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/images/carousel/c1.jpg" alt="Los Angeles"
                    class="d-block w-30 h-100 m-auto img-fluid">
                <div class="carousel-caption d-none d-md-block">
                    <h5>...</h5>
                    <p>...</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/carousel/c2.jpg" alt="Chicago"
                    class="d-block w-30 h-100 m-auto img-fluid">
                <div class="carousel-caption d-none d-md-block">
                    <h5>...</h5>
                    <p>...</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/carousel/c3.jpg" alt="New York"
                    class="d-block w-30 h-100 m-auto img-fluid">
                <div class="carousel-caption d-none d-md-block">
                    <h5>...</h5>
                    <p>...</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>

    <div class="row mt-3">
        <img class="mx-auto d-block img-fluid" src="../../assets/images/Alam-md.png" />
    </div>

    <div class="row mt-3 our-services">
        <div class="m-auto">
            <p class="text-center">OUR SPECIALISED SERVICES</p>
        </div>
    </div>

    <div class="row mt-3"></div>

    <div class="card-deck">
        <div class="card mb-4 text-center">
            <img class="card-img-top" src="../../assets/images/bridal.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">BRIDAL MAKE-UP</h5>
                <p class="card-text salon-text-color">We have tailormade Bridal Packages for special needs. Click below for further details.</p>
                <a href="#" class="btn salon-btn-primary">READ MORE</a>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
        </div>
        <div class="card mb-4 text-center">
            <img class="card-img-top" src="../../assets/images/groom_package.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">GROOM MAKE-UP</h5>
                <p class="card-text salon-text-color">Planning to look special on your wedding day, give us a thought to make you Mr. Right.</p>
                <a href="#" class="btn salon-btn-primary">READ MORE</a>
            </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
        <div class="card mb-4 text-center">
            <img class="card-img-top" src="../../assets/images/engagement.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">ENGAGEMENT MAKE-UP</h5>
                <p class="card-text salon-text-color">Enagement day is a new chapter on your life. Let's us make it memorable for you.</p>
                <a href="#" class="btn salon-btn-primary">READ MORE</a>
            </div>
        </div>
        <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
        <div class="card mb-4 text-center">
            <img class="card-img-top" src="../../assets/images/party-makeup.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">PARTY MAKE-UP</h5>
                <p class="card-text salon-text-color">Going for Party or wannna ready for special occasion.We can make you feel special.</p>
                <a href="#" class="btn salon-btn-primary">READ MORE</a>
            </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
        <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>
        <div class="card mb-4 text-center">
            <img class="card-img-top" src="../../assets/images/hair.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">HAIR STYLING</h5>
                <p class="card-text salon-text-color">Expert haircut and coloring packages help you make a lasting impression.</p>
                <a href="#" class="btn salon-btn-primary">READ MORE</a>
            </div>
        </div>
        <div class="w-100 d-none d-xl-block"><!-- wrap every 5 on xl--></div>
        <div class="card mb-4 text-center">
            <img class="card-img-top" src="../../assets/images/padicure.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">MANI-PADI SPA</h5>
                <p class="card-text salon-text-color">A mani-pedi is a great way to relax and be pampered. It is just the occasional luxury experience</p>
                <a href="#" class="btn salon-btn-primary">READ MORE</a>
            </div>
        </div>
        <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
        <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>
        <div class="card mb-4 text-center">
            <img class="card-img-top" src="../../assets/images/facial.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">CRYSTAL SKIN TREATMENT</h5>
                <p class="card-text salon-text-color">Get beauty facials that helps to revive your skin with glow and help it breath</p>
                <a href="#" class="btn salon-btn-primary">READ MORE</a>
            </div>
        </div>
        <div class="card mb-4 text-center">
            <img class="card-img-top" src="../../assets/images/bleach_thread.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">THREADING & BLEACH</h5>
                <p class="card-text salon-text-color">We have expert for threading according to your face. Contact Us for further details</p>
                <a href="#" class="btn salon-btn-primary">READ MORE</a>
            </div>
        </div>
        <div class="card mb-4 text-center">
            <img class="card-img-top" src="../../assets/images/body-polish.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">BODY POLISHING</h5>
                <p class="card-text salon-text-color">We have expert for threading according to your face. Contact Us for further details</p>
                <a href="#" class="btn salon-btn-primary">READ MORE</a>
            </div>
        </div>
        <div class="card mb-4 text-center">
            <img class="card-img-top" src="../../assets/images/hair-patch.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">HAIR PATCH & SYSTEM</h5>
                <p class="card-text salon-text-color">We have expert for threading according to your face. Contact Us for further details</p>
                <a href="#" class="btn salon-btn-primary">READ MORE</a>
            </div>
        </div>

    </div>

</div>


<!-- https://www.codeply.com/go/nIB6oSbv6q -->