// Branding

// $primaryColor:#070707;
// $secondaryColor:#F4A34E;

$primaryColor:#070707;
$secondaryColor:#F4A34E;

//navBar
$navGradientTop:#ff6a00;
$navGradientBottom:#ee0979;


// $navGradientTop:#070707;
// $navGradientBottom:#F4A34E;